// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../resource';
import { isRequestOptions } from '../core';
import * as Core from '../core';
import * as EvaluationDatasetsTestCasesAPI from './evaluation-datasets-test-cases';

export class EvaluationDatasetsTestCases extends APIResource {
  /**
   * ### Description
   *
   * List all test cases for a selected dataset.
   */
  list(
    evaluationDatasetId: string,
    query?: EvaluationDatasetsTestCaseListParams,
    options?: Core.RequestOptions,
  ): Core.APIPromise<EvaluationDatasetsTestCaseListResponse>;
  list(
    evaluationDatasetId: string,
    options?: Core.RequestOptions,
  ): Core.APIPromise<EvaluationDatasetsTestCaseListResponse>;
  list(
    evaluationDatasetId: string,
    query: EvaluationDatasetsTestCaseListParams | Core.RequestOptions = {},
    options?: Core.RequestOptions,
  ): Core.APIPromise<EvaluationDatasetsTestCaseListResponse> {
    if (isRequestOptions(query)) {
      return this.list(evaluationDatasetId, {}, query);
    }
    return this._client.get(`/v4/evaluation-datasets/${evaluationDatasetId}/test-cases`, {
      query,
      ...options,
    });
  }
}

export interface EvaluationDatasetsTestCaseListResponse {
  /**
   * The current page number.
   */
  current_page: number;

  /**
   * The data returned for the current page.
   */
  items: Array<
    | EvaluationDatasetsTestCaseListResponse.GenerationTestCaseVersionResponse
    | EvaluationDatasetsTestCaseListResponse.FlexibleTestCaseVersionResponse
  >;

  /**
   * The number of items per page.
   */
  per_page: number;

  /**
   * The total number of items of the query
   */
  total_item_count: number;
}

export namespace EvaluationDatasetsTestCaseListResponse {
  export interface GenerationTestCaseVersionResponse {
    /**
     * The unique identifier of the entity.
     */
    id: string;

    /**
     * The ID of the account that owns the given entity.
     */
    account_id: string;

    /**
     * Boolean to track whether or not the test case is autogenerated
     */
    autogenerated: boolean;

    /**
     * The date and time when the entity was created in ISO format.
     */
    created_at: string;

    /**
     * The user who originally created the entity.
     */
    created_by_user_id: string;

    /**
     * The ID of the associated evaluation dataset.
     */
    evaluation_dataset_id: string;

    test_case_data:
      | GenerationTestCaseVersionResponse.ArtifactSchemaGeneration
      | GenerationTestCaseVersionResponse.SchemaGenerationBase;

    /**
     * The date and time when the entity was archived in ISO format.
     */
    archived_at?: string;

    schema_type?: 'GENERATION';
  }

  export namespace GenerationTestCaseVersionResponse {
    export interface ArtifactSchemaGeneration {
      artifact_ids_filter: Array<string>;

      input: string;

      expected_extra_info?: ArtifactSchemaGeneration.ExpectedExtraInfo;

      expected_output?: string;
    }

    export namespace ArtifactSchemaGeneration {
      export interface ExpectedExtraInfo {
        info: string;

        schema_type?: 'STRING';
      }
    }

    export interface SchemaGenerationBase {
      input: string;

      expected_extra_info?: SchemaGenerationBase.ExpectedExtraInfo;

      expected_output?: string;
    }

    export namespace SchemaGenerationBase {
      export interface ExpectedExtraInfo {
        info: string;

        schema_type?: 'STRING';
      }
    }
  }

  export interface FlexibleTestCaseVersionResponse {
    /**
     * The unique identifier of the entity.
     */
    id: string;

    /**
     * The ID of the account that owns the given entity.
     */
    account_id: string;

    /**
     * Boolean to track whether or not the test case is autogenerated
     */
    autogenerated: boolean;

    /**
     * The date and time when the entity was created in ISO format.
     */
    created_at: string;

    /**
     * The user who originally created the entity.
     */
    created_by_user_id: string;

    /**
     * The ID of the associated evaluation dataset.
     */
    evaluation_dataset_id: string;

    test_case_data: FlexibleTestCaseVersionResponse.TestCaseData;

    /**
     * The date and time when the entity was archived in ISO format.
     */
    archived_at?: string;

    schema_type?: 'FLEXIBLE';
  }

  export namespace FlexibleTestCaseVersionResponse {
    export interface TestCaseData {
      input:
        | string
        | Record<
            string,
            | string
            | number
            | Array<TestCaseData.UnionMember2>
            | Array<TestCaseData.UserMessage | TestCaseData.AssistantMessage | TestCaseData.SystemMessage>
          >;

      expected_extra_info?: TestCaseData.ExpectedExtraInfo;

      expected_output?:
        | string
        | Record<
            string,
            | string
            | number
            | Array<TestCaseData.UnionMember2>
            | Array<TestCaseData.UserMessage | TestCaseData.AssistantMessage | TestCaseData.SystemMessage>
          >;
    }

    export namespace TestCaseData {
      export interface UnionMember2 {
        text: string;

        metadata?: Record<string, unknown>;
      }

      export interface UserMessage {
        content: Array<string>;

        role: 'user';
      }

      export interface AssistantMessage {
        content: Array<string>;

        role: 'assistant';
      }

      export interface SystemMessage {
        content: Array<string>;

        role: 'system';
      }

      export interface ExpectedExtraInfo {
        info: string;

        schema_type?: 'STRING';
      }

      export interface UnionMember2 {
        text: string;

        metadata?: Record<string, unknown>;
      }

      export interface UserMessage {
        content: Array<string>;

        role: 'user';
      }

      export interface AssistantMessage {
        content: Array<string>;

        role: 'assistant';
      }

      export interface SystemMessage {
        content: Array<string>;

        role: 'system';
      }
    }
  }
}

export interface EvaluationDatasetsTestCaseListParams {
  account_id?: string | null;

  include_archived?: boolean;

  /**
   * Maximum number of artifacts to be returned by the given endpoint. Defaults to
   * 100 and cannot be greater than 10k.
   */
  limit?: number;

  /**
   * Page number for pagination to be returned by the given endpoint. Starts at page
   * 1
   */
  page?: number;
}

export namespace EvaluationDatasetsTestCases {
  export import EvaluationDatasetsTestCaseListResponse = EvaluationDatasetsTestCasesAPI.EvaluationDatasetsTestCaseListResponse;
  export import EvaluationDatasetsTestCaseListParams = EvaluationDatasetsTestCasesAPI.EvaluationDatasetsTestCaseListParams;
}
