// File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

import { APIResource } from '../resource';
import { isRequestOptions } from '../core';
import * as Core from '../core';
import * as EvaluationDatasetsAPI from './evaluation-datasets';

export class EvaluationDatasets extends APIResource {
  /**
   * ### Description
   *
   * Creates a evaluation dataset
   *
   * ### Details
   *
   * This API can be used to create a evaluation dataset. To use this API, review the
   * request schema and pass in all fields that are required to create a evaluation
   * dataset.
   */
  create(
    body: EvaluationDatasetCreateParams,
    options?: Core.RequestOptions,
  ): Core.APIPromise<EvaluationDatasetResponseSchema> {
    return this._client.post('/v4/evaluation-datasets', { body, ...options });
  }

  /**
   * ### Description
   *
   * Gets the details of a dataset.
   */
  retrieve(
    evaluationDatasetId: string,
    options?: Core.RequestOptions,
  ): Core.APIPromise<EvaluationDatasetRetrieveResponse> {
    return this._client.get(`/v4/evaluation-datasets/${evaluationDatasetId}`, options);
  }

  /**
   * ### Description
   *
   * Updates a evaluation dataset
   *
   * ### Details
   *
   * This API can be used to update the evaluation dataset that matches the ID that
   * was passed in as a path parameter. To use this API, pass in the `id` that was
   * returned from your Create Evaluation Dataset API call as a path parameter.
   *
   * Review the request schema to see the fields that can be updated.
   */
  update(
    evaluationDatasetId: string,
    body: EvaluationDatasetUpdateParams,
    options?: Core.RequestOptions,
  ): Core.APIPromise<EvaluationDatasetResponseSchema> {
    return this._client.patch(`/v4/evaluation-datasets/${evaluationDatasetId}`, { body, ...options });
  }

  /**
   * ### Description
   *
   * Lists all evaluation datasets accessible to the user.
   *
   * ### Details
   *
   * This API can be used to list evaluation datasets. If a user has access to
   * multiple accounts, all evaluation datasets from all accounts the user is
   * associated with will be returned.
   */
  list(
    query?: EvaluationDatasetListParams,
    options?: Core.RequestOptions,
  ): Core.APIPromise<EvaluationDatasetListResponse>;
  list(options?: Core.RequestOptions): Core.APIPromise<EvaluationDatasetListResponse>;
  list(
    query: EvaluationDatasetListParams | Core.RequestOptions = {},
    options?: Core.RequestOptions,
  ): Core.APIPromise<EvaluationDatasetListResponse> {
    if (isRequestOptions(query)) {
      return this.list({}, query);
    }
    return this._client.get('/v4/evaluation-datasets', { query, ...options });
  }

  /**
   * ### Description
   *
   * Deletes the dataset, and all other entities associated with the dataset, such as
   * test cases, evaluations and results.
   *
   * ### Details
   *
   * **This is a permanent and destructive action that cannot be undone.**
   */
  delete(
    evaluationDatasetId: string,
    options?: Core.RequestOptions,
  ): Core.APIPromise<DeleteResponseEvaluationDatasetsSchemaObject> {
    return this._client.delete(`/v4/evaluation-datasets/${evaluationDatasetId}`, options);
  }

  /**
   * Approve Auto Generated Test Cases Batch
   */
  approveBatch(
    evaluationDatasetId: string,
    params: EvaluationDatasetApproveBatchParams,
    options?: Core.RequestOptions,
  ): Core.APIPromise<AutoGeneratedDraftTestCaseApproveBatch> {
    const { force, ...body } = params;
    return this._client.post(`/v4/evaluation-datasets/${evaluationDatasetId}/approve-batch`, {
      query: { force },
      body,
      ...options,
    });
  }

  /**
   * Publish Latest Evaluation Dataset Version
   */
  publish(
    evaluationDatasetId: string,
    params?: EvaluationDatasetPublishParams,
    options?: Core.RequestOptions,
  ): Core.APIPromise<EvaluationDatasetPublishResponse>;
  publish(
    evaluationDatasetId: string,
    options?: Core.RequestOptions,
  ): Core.APIPromise<EvaluationDatasetPublishResponse>;
  publish(
    evaluationDatasetId: string,
    params: EvaluationDatasetPublishParams | Core.RequestOptions = {},
    options?: Core.RequestOptions,
  ): Core.APIPromise<EvaluationDatasetPublishResponse> {
    if (isRequestOptions(params)) {
      return this.publish(evaluationDatasetId, {}, params);
    }
    const { force } = params;
    return this._client.post(`/v4/evaluation-datasets/${evaluationDatasetId}/publish`, {
      query: { force },
      ...options,
    });
  }
}

export interface AutoGeneratedDraftTestCaseApproveBatch {
  /**
   * List of responses for each of the input draft test cases.
   */
  autogenerated_draft_test_cases: Array<AutoGeneratedDraftTestCaseApproveBatch.AutogeneratedDraftTestCase>;

  /**
   * Whether or not the batch approval was successful
   */
  success: boolean;
}

export namespace AutoGeneratedDraftTestCaseApproveBatch {
  export interface AutogeneratedDraftTestCase {
    /**
     * Draft test_case_id that has chunk_ids missing
     */
    autogenerated_draft_test_case_id: string;

    failed_chunks: Array<AutogeneratedDraftTestCase.FailedChunk>;

    /**
     * Whether or not the test case was successfully approved
     */
    success: boolean;
  }

  export namespace AutogeneratedDraftTestCase {
    export interface FailedChunk {
      /**
       * Artifact Content Modification Identifier of the missing chunk
       */
      artifact_content_modification_identifier: string;

      /**
       * Artifact ID of the missing chunk
       */
      artifact_id: string;

      /**
       * Artifact Name of the missing chunk
       */
      artifact_name: string;

      /**
       * Text of chunk_id that is missing
       */
      chunk_text: string;
    }
  }
}

export interface DeleteResponseEvaluationDatasetsSchemaObject {
  count: number;

  success: boolean;
}

export interface EvaluationDatasetResponseSchema {
  /**
   * The unique identifier of the entity.
   */
  id: string;

  /**
   * The ID of the account that owns the given entity.
   */
  account_id: string;

  /**
   * The date and time when the entity was created in ISO format.
   */
  created_at: string;

  /**
   * The user who originally created the entity.
   */
  created_by_user_id: string;

  /**
   * The name of the dataset
   */
  name: string;

  /**
   * The schema type of the dataset.
   */
  schema_type: 'GENERATION' | 'FLEXIBLE';

  /**
   * The date and time when the entity was last updated in ISO format.
   */
  updated_at: string;

  /**
   * The date and time when the entity was archived in ISO format.
   */
  archived_at?: string;

  /**
   * ID of the knowledge base that the evaluation dataset is associated with.
   */
  knowledge_base_id?: string;

  /**
   * Boolean to check whether or not the knowledge base has been uploaded to since
   * publication of the dataset.
   */
  out_of_date?: boolean;

  schema_sub_type?: 'summarization' | 'translation';

  /**
   * The vendor of the evaluation dataset (e.g. 'Scale' for Scale off-the-shelf
   * datasets). Null if the evaluation dataset is not from a vendor (e.g., is created
   * by the customer).
   */
  vendor?: 'scale';
}

export interface EvaluationDatasetRetrieveResponse {
  /**
   * The unique identifier of the entity.
   */
  id: string;

  /**
   * The ID of the account that owns the given entity.
   */
  account_id: string;

  /**
   * The date and time when the entity was created in ISO format.
   */
  created_at: string;

  /**
   * The user who originally created the entity.
   */
  created_by_user_id: string;

  /**
   * The name of the dataset
   */
  name: string;

  /**
   * The schema type of the dataset.
   */
  schema_type: 'GENERATION' | 'FLEXIBLE';

  /**
   * The date and time when the entity was last updated in ISO format.
   */
  updated_at: string;

  /**
   * The date and time when the entity was archived in ISO format.
   */
  archived_at?: string;

  evaluation_dataset_versions?: Array<EvaluationDatasetRetrieveResponse.EvaluationDatasetVersion>;

  /**
   * ID of the knowledge base that the evaluation dataset is associated with.
   */
  knowledge_base_id?: string;

  /**
   * Boolean to check whether or not the knowledge base has been uploaded to since
   * publication of the dataset.
   */
  out_of_date?: boolean;

  schema_sub_type?: 'summarization' | 'translation';

  /**
   * The vendor of the evaluation dataset (e.g. 'Scale' for Scale off-the-shelf
   * datasets). Null if the evaluation dataset is not from a vendor (e.g., is created
   * by the customer).
   */
  vendor?: 'scale';
}

export namespace EvaluationDatasetRetrieveResponse {
  export interface EvaluationDatasetVersion {
    /**
     * The unique identifier of the entity.
     */
    id: string;

    /**
     * The ID of the account that owns the given entity.
     */
    account_id: string;

    /**
     * The date and time when the entity was created in ISO format.
     */
    created_at: string;

    /**
     * The user who originally created the entity.
     */
    created_by_user_id: string;

    /**
     * Boolean to check whether or not the evaluation dataset is in draft mode
     */
    draft: boolean;

    /**
     * The ID of the associated evaluation dataset.
     */
    evaluation_dataset_id: string;

    /**
     * The version number, automatically incremented on creation
     */
    num: number;

    /**
     * The date and time when the entity was archived in ISO format.
     */
    archived_at?: string;

    /**
     * The date and time that all test case results for the evaluation were completed
     * for the evaluation in ISO format.
     */
    published_at?: string;
  }
}

export interface EvaluationDatasetListResponse {
  /**
   * The current page number.
   */
  current_page: number;

  /**
   * The data returned for the current page.
   */
  items: Array<EvaluationDatasetListResponse.Item>;

  /**
   * The number of items per page.
   */
  items_per_page: number;

  /**
   * The total number of items of the query
   */
  total_item_count: number;
}

export namespace EvaluationDatasetListResponse {
  export interface Item {
    /**
     * The unique identifier of the entity.
     */
    id: string;

    /**
     * The ID of the account that owns the given entity.
     */
    account_id: string;

    /**
     * The date and time when the entity was created in ISO format.
     */
    created_at: string;

    /**
     * The user who originally created the entity.
     */
    created_by_user_id: string;

    /**
     * The name of the dataset
     */
    name: string;

    /**
     * The schema type of the dataset.
     */
    schema_type: 'GENERATION' | 'FLEXIBLE';

    /**
     * The date and time when the entity was last updated in ISO format.
     */
    updated_at: string;

    /**
     * The date and time when the entity was archived in ISO format.
     */
    archived_at?: string;

    evaluation_dataset_versions?: Array<Item.EvaluationDatasetVersion>;

    /**
     * ID of the knowledge base that the evaluation dataset is associated with.
     */
    knowledge_base_id?: string;

    /**
     * Boolean to check whether or not the knowledge base has been uploaded to since
     * publication of the dataset.
     */
    out_of_date?: boolean;

    schema_sub_type?: 'summarization' | 'translation';

    /**
     * The vendor of the evaluation dataset (e.g. 'Scale' for Scale off-the-shelf
     * datasets). Null if the evaluation dataset is not from a vendor (e.g., is created
     * by the customer).
     */
    vendor?: 'scale';
  }

  export namespace Item {
    export interface EvaluationDatasetVersion {
      /**
       * The unique identifier of the entity.
       */
      id: string;

      /**
       * The ID of the account that owns the given entity.
       */
      account_id: string;

      /**
       * The date and time when the entity was created in ISO format.
       */
      created_at: string;

      /**
       * The user who originally created the entity.
       */
      created_by_user_id: string;

      /**
       * Boolean to check whether or not the evaluation dataset is in draft mode
       */
      draft: boolean;

      /**
       * The ID of the associated evaluation dataset.
       */
      evaluation_dataset_id: string;

      /**
       * The version number, automatically incremented on creation
       */
      num: number;

      /**
       * The date and time when the entity was archived in ISO format.
       */
      archived_at?: string;

      /**
       * The date and time that all test case results for the evaluation were completed
       * for the evaluation in ISO format.
       */
      published_at?: string;
    }
  }
}

export interface EvaluationDatasetPublishResponse {
  /**
   * List of responses for each of the input draft test cases.
   */
  autogenerated_draft_test_cases: Array<EvaluationDatasetPublishResponse.AutogeneratedDraftTestCase>;

  /**
   * Whether or not the evaluation dataset was successfully published
   */
  success: boolean;
}

export namespace EvaluationDatasetPublishResponse {
  export interface AutogeneratedDraftTestCase {
    /**
     * Draft test_case_id that has chunk_ids missing
     */
    autogenerated_draft_test_case_id: string;

    failed_chunks: Array<AutogeneratedDraftTestCase.FailedChunk>;

    /**
     * Whether or not the test case was successfully approved
     */
    success: boolean;
  }

  export namespace AutogeneratedDraftTestCase {
    export interface FailedChunk {
      /**
       * Artifact Content Modification Identifier of the missing chunk
       */
      artifact_content_modification_identifier: string;

      /**
       * Artifact ID of the missing chunk
       */
      artifact_id: string;

      /**
       * Artifact Name of the missing chunk
       */
      artifact_name: string;

      /**
       * Text of chunk_id that is missing
       */
      chunk_text: string;
    }
  }
}

export type EvaluationDatasetCreateParams =
  | EvaluationDatasetCreateParams.ManualEvaluationDatasetRequest
  | EvaluationDatasetCreateParams.AutoGeneratedEvaluationDatasetRequest
  | EvaluationDatasetCreateParams.SafetyEvaluationDatasetRequest;

export namespace EvaluationDatasetCreateParams {
  export interface ManualEvaluationDatasetRequest {
    /**
     * The ID of the account that owns the given entity.
     */
    account_id: string;

    /**
     * The name of the dataset
     */
    name: string;

    /**
     * The schema type of the dataset
     */
    schema_type: 'GENERATION' | 'FLEXIBLE';

    /**
     * Manually or automatically generated dataset
     */
    type: 'manual';
  }

  export interface AutoGeneratedEvaluationDatasetRequest {
    /**
     * The ID of the account that owns the given entity.
     */
    account_id: string;

    /**
     * ID of the knowledge base to generate the evaluation dataset from.
     */
    knowledge_base_id: string;

    /**
     * The name of the dataset
     */
    name: string;

    /**
     * The schema type of the dataset. Only GENERATION is currently supported.
     */
    schema_type: 'GENERATION';

    /**
     * Manually or automatically generated dataset
     */
    type: 'autogenerated';
  }

  export interface SafetyEvaluationDatasetRequest {
    /**
     * The ID of the account that owns the given entity.
     */
    account_id: string;

    /**
     * Advanced configuration for the safety evaluation dataset.
     */
    advanced_config: Record<string, Array<string>>;

    /**
     * List of harms to generate the dataset for.
     */
    harms_list: Array<string>;

    /**
     * The name of the dataset
     */
    name: string;

    /**
     * The schema type of the dataset. Only GENERATION is currently supported.
     */
    schema_type: 'GENERATION';

    /**
     * Manually or automatically generated dataset
     */
    type: 'safety';
  }
}

export type EvaluationDatasetUpdateParams =
  | EvaluationDatasetUpdateParams.PatchEvaluationDatasetRequest
  | EvaluationDatasetUpdateParams.RestoreRequest;

export namespace EvaluationDatasetUpdateParams {
  export interface PatchEvaluationDatasetRequest {
    /**
     * The name of the dataset
     */
    name: string;

    /**
     * Set to true to restore the entity from the database.
     */
    restore: false;
  }

  export interface RestoreRequest {
    /**
     * Set to true to restore the entity from the database.
     */
    restore: true;
  }
}

export interface EvaluationDatasetListParams {
  account_id?: string | null;

  include_archived?: boolean;

  /**
   * Maximum number of artifacts to be returned by the given endpoint. Defaults to
   * 100 and cannot be greater than 10k.
   */
  limit?: number;

  /**
   * Page number for pagination to be returned by the given endpoint. Starts at page
   * 1
   */
  page?: number;
}

export interface EvaluationDatasetApproveBatchParams {
  /**
   * Body param: Ids of auto generated draft test cases to be approved.
   */
  autogenerated_draft_test_cases: Array<string>;

  /**
   * Query param: Force approve a batch of autogenerated test case IDs for the
   * evaluation dataset
   */
  force?: boolean;
}

export interface EvaluationDatasetPublishParams {
  /**
   * Force approve an evaluation dataset
   */
  force?: boolean;
}

export namespace EvaluationDatasets {
  export import AutoGeneratedDraftTestCaseApproveBatch = EvaluationDatasetsAPI.AutoGeneratedDraftTestCaseApproveBatch;
  export import DeleteResponseEvaluationDatasetsSchemaObject = EvaluationDatasetsAPI.DeleteResponseEvaluationDatasetsSchemaObject;
  export import EvaluationDatasetResponseSchema = EvaluationDatasetsAPI.EvaluationDatasetResponseSchema;
  export import EvaluationDatasetRetrieveResponse = EvaluationDatasetsAPI.EvaluationDatasetRetrieveResponse;
  export import EvaluationDatasetListResponse = EvaluationDatasetsAPI.EvaluationDatasetListResponse;
  export import EvaluationDatasetPublishResponse = EvaluationDatasetsAPI.EvaluationDatasetPublishResponse;
  export import EvaluationDatasetCreateParams = EvaluationDatasetsAPI.EvaluationDatasetCreateParams;
  export import EvaluationDatasetUpdateParams = EvaluationDatasetsAPI.EvaluationDatasetUpdateParams;
  export import EvaluationDatasetListParams = EvaluationDatasetsAPI.EvaluationDatasetListParams;
  export import EvaluationDatasetApproveBatchParams = EvaluationDatasetsAPI.EvaluationDatasetApproveBatchParams;
  export import EvaluationDatasetPublishParams = EvaluationDatasetsAPI.EvaluationDatasetPublishParams;
}
